name: Swift Package CI

on:
  push:
    branches: [ main ]

  pull_request:

jobs:
  build_and_test:
    name: Build and Test
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build library
        run: swift build --configuration debug

      - name: Build test target
        run: swift build --configuration debug --target PodiumRequestsClientTests

      - name: Run tests
        run: swift test --skip-build --parallel
