name: Swift Package CI

on:
  push:
    branches: [ main ]

  pull_request:

jobs:
  build:
    name: Build
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build library
        run: swift build --configuration debug

  test:
    name: Run Tests
    runs-on: macos-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Run tests
        run: swift test --parallel
