name: Swift Package CI

on:
  push:
    branches: [ main ]

  pull_request:

jobs:
  build:
    name: Build
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build package
        run: swift build --configuration debug

      - name: Archive build artifacts
        run: |
          mkdir -p build-artifacts
          cp -R .build build-artifacts/
        shell: bash

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: swift-build
          path: .
          retention-days: 1

  test:
    name: Run Tests
    runs-on: macos-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: swift-build
          path: .

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Run tests using prebuilt artifacts
        run: swift test --skip-build
