name: Swift Package Tests

on:
  push:
    branches: [ main ]

  pull_request:

jobs:
  test:
    runs-on: macos-latest
    name: Test on macOS

    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build & Test package
        run: swift test --parallel --enable-test-discovery
